* {
  box-sizing: border-box;
} 

/* 
li{
  display: inline-block;
  cursor: pointer;
  text-decoration: underline .3px;

  margin: 10px;
} */







 
 /* label{
  display: inline;
  margin: 10px;
  color: #81E4DA;
 
  border: none;
  font-size: large;
  width: auto;
 } */

